In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']}
                        )
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']}
                         )
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']}
                        )

In [2]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [5]:
df2

    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [6]:
df3

     A    B    C    D
0   A8   B8   C8   D8
1   A9   B9   C9   D9
2  A10  B10  C10  D10
3  A11  B11  C11  D11

In [7]:
df1.append(df2)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [8]:
df1.append(df2, ignore_index=True) # 0dan itibaren hepsini baştan yazar.

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [9]:
df3.append(df2, ignore_index=True)

     A    B    C    D
0   A8   B8   C8   D8
1   A9   B9   C9   D9
2  A10  B10  C10  D10
3  A11  B11  C11  D11
4   A4   B4   C4   D4
5   A5   B5   C5   D5
6   A6   B6   C6   D6
7   A7   B7   C7   D7

In [10]:
df2

    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [11]:
new_df = df1.append(df2, ignore_index=True)
new_df

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

**CONCAT**

In [13]:
pd.concat([df1,df2,df3]) # indexler: 0-1-2-3...

     A    B    C    D
0   A0   B0   C0   D0
1   A1   B1   C1   D1
2   A2   B2   C2   D2
3   A3   B3   C3   D3
0   A4   B4   C4   D4
1   A5   B5   C5   D5
2   A6   B6   C6   D6
3   A7   B7   C7   D7
0   A8   B8   C8   D8
1   A9   B9   C9   D9
2  A10  B10  C10  D10
3  A11  B11  C11  D11

In [14]:
pd.concat([df1,df2,df3], ignore_index=True) # 0ladık.

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [15]:
pd.concat([df1, df2, df3], axis=1)

    A   B   C   D   A   B   C   D    A    B    C    D
0  A0  B0  C0  D0  A4  B4  C4  D4   A8   B8   C8   D8
1  A1  B1  C1  D1  A5  B5  C5  D5   A9   B9   C9   D9
2  A2  B2  C2  D2  A6  B6  C6  D6  A10  B10  C10  D10
3  A3  B3  C3  D3  A7  B7  C7  D7  A11  B11  C11  D11

In [16]:
df2.drop("C", axis=1, inplace=True)

In [17]:
pd.concat([df1, df2, df3], axis=1) # C sütunu düştü.

    A   B   C   D   A   B   D    A    B    C    D
0  A0  B0  C0  D0  A4  B4  D4   A8   B8   C8   D8
1  A1  B1  C1  D1  A5  B5  D5   A9   B9   C9   D9
2  A2  B2  C2  D2  A6  B6  D6  A10  B10  C10  D10
3  A3  B3  C3  D3  A7  B7  D7  A11  B11  C11  D11

In [19]:
pd.concat([df1, df2.iloc[:2,:], df3], axis=1) # boş yerleri NaN dönderdi.

    A   B   C   D    A    B    D    A    B    C    D
0  A0  B0  C0  D0   A4   B4   D4   A8   B8   C8   D8
1  A1  B1  C1  D1   A5   B5   D5   A9   B9   C9   D9
2  A2  B2  C2  D2  NaN  NaN  NaN  A10  B10  C10  D10
3  A3  B3  C3  D3  NaN  NaN  NaN  A11  B11  C11  D11

In [20]:
pd.concat([df1, df2, df3], axis=0)

     A    B    C    D
0   A0   B0   C0   D0
1   A1   B1   C1   D1
2   A2   B2   C2   D2
3   A3   B3   C3   D3
0   A4   B4  NaN   D4
1   A5   B5  NaN   D5
2   A6   B6  NaN   D6
3   A7   B7  NaN   D7
0   A8   B8   C8   D8
1   A9   B9   C9   D9
2  A10  B10  C10  D10
3  A11  B11  C11  D11

In [21]:
df4 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0,1,2,3])
df5 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                        index=[4,5,6,7]) 
df6 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8,9,10,11])

In [22]:
df4 # bir önceki df lerden farklı biz bu sefer index verdik.

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [23]:
df5

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [24]:
df6

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [25]:
pd.concat([df4, df5, df6])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [26]:
pd.concat([df4, df5, df6], axis=1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

In [27]:
pd.concat([df4, df5, df6], axis=1, ignore_index=True) # tabloda herhangi bir değişiklik olmaz.

     0    1    2    3    4    5    6    7    8    9    10   11
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

In [29]:
pd.concat([df4, df5, df6], axis=1, join="inner") # 3ünün de ortak indexi yok, bu yüzden boş verdi.

Empty DataFrame
Columns: [A, B, C, D, A, B, C, D, A, B, C, D]
Index: []

**MERGE**

In [30]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [31]:
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [32]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [33]:
pd.merge(left, right) # default olarak inner join yaptı.

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [35]:
pd.merge(left, right, on="key") # yine aynısı oldu.

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [37]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                     'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']})
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [38]:
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2

In [40]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [42]:
pd.merge(left, right, on="key", how= "inner") # how default olarak inner'dır. # inner = kesişenler

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2

In [44]:
pd.merge(left, right, on="key", how= "outer") # outer = birleşenler

  key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K1   A1   B1  C1  D1
2  K2   A2   B2  C2  D2
3  K3  NaN  NaN  C3  D3

In [46]:
pd.merge(left, right, on="key", how= "left")

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2

In [47]:
pd.merge(left, right, on="key", how= "right")

  key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K1   A1   B1  C1  D1
2  K2   A2   B2  C2  D2
3  K3  NaN  NaN  C3  D3

In [48]:
left2 = pd.DataFrame({'key': ['K0', 'K1', 'K4', 'K5'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
right2 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [53]:
left2

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K4  A2  B2
3  K5  A3  B3

In [52]:
right2

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [54]:
pd.merge(left2, right2, on="key", how= "inner")

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1

In [55]:
pd.merge(left2, right2, on="key", how= "left")

  key   A   B    C    D
0  K0  A0  B0   C0   D0
1  K1  A1  B1   C1   D1
2  K4  A2  B2  NaN  NaN
3  K5  A3  B3  NaN  NaN

In [56]:
pd.merge(left2, right2, on="key", how= "right")

  key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K1   A1   B1  C1  D1
2  K2  NaN  NaN  C2  D2
3  K3  NaN  NaN  C3  D3

In [57]:
pd.merge(left2, right2, on="key", how= "outer")

  key    A    B    C    D
0  K0   A0   B0   C0   D0
1  K1   A1   B1   C1   D1
2  K4   A2   B2  NaN  NaN
3  K5   A3   B3  NaN  NaN
4  K2  NaN  NaN   C2   D2
5  K3  NaN  NaN   C3   D3

In [58]:
pd.merge(right2, left2, on="key", how= "outer")

  key    C    D    A    B
0  K0   C0   D0   A0   B0
1  K1   C1   D1   A1   B1
2  K2   C2   D2  NaN  NaN
3  K3   C3   D3  NaN  NaN
4  K4  NaN  NaN   A2   B2
5  K5  NaN  NaN   A3   B3

In [59]:
pd.concat([right2, left2]) # merge ve concat farkı için bkz.

  key    C    D    A    B
0  K0   C0   D0  NaN  NaN
1  K1   C1   D1  NaN  NaN
2  K2   C2   D2  NaN  NaN
3  K3   C3   D3  NaN  NaN
0  K0  NaN  NaN   A0   B0
1  K1  NaN  NaN   A1   B1
2  K4  NaN  NaN   A2   B2
3  K5  NaN  NaN   A3   B3

In [61]:
left3 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
right3 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [63]:
pd.merge(left3, right3, on= [ "key1", "key2"], how="inner")

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [64]:
pd.merge(left3, right3, on= [ "key1", "key2"], how="outer") # 2 ve 3 duplicate etti.

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

In [65]:
pd.merge(left3, right3, on= [ "key1", "key2"], how="left")

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

In [66]:
pd.merge(left3, right3, on= [ "key1", "key2"], how="right")

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

In [67]:
df11 = pd.DataFrame({'lkey': ['x', 'y', 'z', 'x', 'z'],
                    'lvalue': [2, 3, 5, 7, 0]})
df12 = pd.DataFrame({'rkey': ['a', 'x', 'z', 'b'],
                    'rvalue': [7, 8, 9, 10]})

In [68]:
df11

  lkey  lvalue
0    x       2
1    y       3
2    z       5
3    x       7
4    z       0

In [69]:
df12

  rkey  rvalue
0    a       7
1    x       8
2    z       9
3    b      10

In [71]:
pd.merge(df11, df12, left_on="lkey", right_on="rkey", how="inner")

  lkey  lvalue rkey  rvalue
0    x       2    x       8
1    x       7    x       8
2    z       5    z       9
3    z       0    z       9

In [72]:
pd.merge(df11, df12, left_on="lkey", right_on="rkey", how="left")

  lkey  lvalue rkey  rvalue
0    x       2    x     8.0
1    y       3  NaN     NaN
2    z       5    z     9.0
3    x       7    x     8.0
4    z       0    z     9.0

In [73]:
pd.merge(df11, df12, left_on="lkey", right_on="rkey", how="outer")

  lkey  lvalue rkey  rvalue
0    x     2.0    x     8.0
1    x     7.0    x     8.0
2    y     3.0  NaN     NaN
3    z     5.0    z     9.0
4    z     0.0    z     9.0
5  NaN     NaN    a     7.0
6  NaN     NaN    b    10.0

In [74]:
df_left = pd.DataFrame({'lkey': ['x', 'y', 'z', 'x'],
                    'lvalue': [2, 3, 5, 7]})
df_right = pd.DataFrame({'rkey': ['a', 'b', 'c', 'b'],
                    'rvalue': [7, 8, 9, 10]})

In [76]:
df_left

  lkey  lvalue
0    x       2
1    y       3
2    z       5
3    x       7

In [77]:
df_right

  rkey  rvalue
0    a       7
1    b       8
2    c       9
3    b      10

In [80]:
pd.merge(df_left,df_right, left_on="lkey",right_on="rkey", how="inner")

Empty DataFrame
Columns: [lkey, lvalue, rkey, rvalue]
Index: []

In [78]:
pd.merge(df_left,df_right, left_on="lkey",right_on="rkey", how="left")

  lkey  lvalue rkey  rvalue
0    x       2  NaN     NaN
1    y       3  NaN     NaN
2    z       5  NaN     NaN
3    x       7  NaN     NaN

In [81]:
pd.merge(df_left,df_right, left_on="lkey",right_on="rkey", how="outer")

  lkey  lvalue rkey  rvalue
0    x     2.0  NaN     NaN
1    x     7.0  NaN     NaN
2    y     3.0  NaN     NaN
3    z     5.0  NaN     NaN
4  NaN     NaN    a     7.0
5  NaN     NaN    b     8.0
6  NaN     NaN    b    10.0
7  NaN     NaN    c     9.0

In [83]:
pd.merge(df_left,df_right, left_index=True, right_index= True, how="outer") # peşpeşe birleştirdik. index numarasında gçre birleştirdik.

  lkey  lvalue rkey  rvalue
0    x       2    a       7
1    y       3    b       8
2    z       5    c       9
3    x       7    b      10

In [84]:
left4 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index = ['K0', 'K1', 'K2']) 
right4 = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index = ['K0', 'K2', 'K3'])

In [85]:
left4

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [86]:
right4

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

In [87]:
"-".join(["A", "B", "C"]) # bu python join'idir :)

'A-B-C'

In [88]:
left4.join(right4)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [89]:
left4.join(right4, how="inner")

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C2  D2

In [90]:
left4.join(right4, how="outer")

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

In [91]:
left4.join(right4, how="right")

      A    B   C   D
K0   A0   B0  C0  D0
K2   A2   B2  C2  D2
K3  NaN  NaN  C3  D3

In [93]:
right4.join(left4) # üsttekinin aynısı

     C   D    A    B
K0  C0  D0   A0   B0
K2  C2  D2   A2   B2
K3  C3  D3  NaN  NaN

In [94]:
df4 = pd.DataFrame({'key': ['K0', 'K2', 'K3', 'K4', 'K5', 'K6'],
                   'X': ['X0', 'X2', 'X3', 'X4', 'X5', 'X6']})
other = pd.DataFrame({'key': ['K0', 'K2', 'K3'],
                      'Y': ['Y0', 'Y2', 'Y3']})

In [96]:
df4

  key   X
0  K0  X0
1  K2  X2
2  K3  X3
3  K4  X4
4  K5  X5
5  K6  X6

In [97]:
#  df4.join(other)   # this code gives error

In [98]:
df4.join(other, lsuffix="_df", rsuffix="_other")

  key_df   X key_other    Y
0     K0  X0        K0   Y0
1     K2  X2        K2   Y2
2     K3  X3        K3   Y3
3     K4  X4       NaN  NaN
4     K5  X5       NaN  NaN
5     K6  X6       NaN  NaN

In [99]:
df4.join(other, lsuffix="_pandas", rsuffix="_numpy", how="inner")

  key_pandas   X key_numpy   Y
0         K0  X0        K0  Y0
1         K2  X2        K2  Y2
2         K3  X3        K3  Y3

In [101]:
df4.join(other.set_index("key") , on="key")

  key   X    Y
0  K0  X0   Y0
1  K2  X2   Y2
2  K3  X3   Y3
3  K4  X4  NaN
4  K5  X5  NaN
5  K6  X6  NaN

In [102]:
other.join(df4.set_index('key'),on='key',lsuffix='_first')

  key   Y   X
0  K0  Y0  X0
1  K2  Y2  X2
2  K3  Y3  X3