In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("Automobile_data.csv")

Exercise 1: From the given dataset print the first and last five rows

In [ ]:
df.head()

   index      company   body-style  ...  horsepower  average-mileage    price
0      0  alfa-romero  convertible  ...         111               21  13495.0
1      1  alfa-romero  convertible  ...         111               21  16500.0
2      2  alfa-romero    hatchback  ...         154               19  16500.0
3      3         audi        sedan  ...         102               24  13950.0
4      4         audi        sedan  ...         115               18  17450.0

[5 rows x 10 columns]

In [ ]:
df.tail()

    index     company body-style  ...  horsepower  average-mileage    price
56     81  volkswagen      sedan  ...          85               27   7975.0
57     82  volkswagen      sedan  ...          52               37   7995.0
58     86  volkswagen      sedan  ...         100               26   9995.0
59     87       volvo      sedan  ...         114               23  12940.0
60     88       volvo      wagon  ...         114               23  13415.0

[5 rows x 10 columns]



---

Exercise 2: Clean the dataset and update the CSV file

Replace all column values which contain ?, n.a, or NaN.

In [ ]:
df = pd.read_csv("Automobile_data.csv", na_values=["?","n.a"] )
df[df["price"].isna()]
df.to_csv("Automobile_data.csv")
df

    Unnamed: 0  index      company  ... horsepower  average-mileage    price
0            0      0  alfa-romero  ...        111               21  13495.0
1            1      1  alfa-romero  ...        111               21  16500.0
2            2      2  alfa-romero  ...        154               19  16500.0
3            3      3         audi  ...        102               24  13950.0
4            4      4         audi  ...        115               18  17450.0
..         ...    ...          ...  ...        ...              ...      ...
56          56     81   volkswagen  ...         85               27   7975.0
57          57     82   volkswagen  ...         52               37   7995.0
58          58     86   volkswagen  ...        100               26   9995.0
59          59     87        volvo  ...        114               23  12940.0
60          60     88        volvo  ...        114               23  13415.0

[61 rows x 11 columns]

In [ ]:
df.replace("?", "NaN", inplace= True)

In [ ]:
df

    index      company   body-style  ...  horsepower  average-mileage    price
0       0  alfa-romero  convertible  ...         111               21  13495.0
1       1  alfa-romero  convertible  ...         111               21  16500.0
2       2  alfa-romero    hatchback  ...         154               19  16500.0
3       3         audi        sedan  ...         102               24  13950.0
4       4         audi        sedan  ...         115               18  17450.0
..    ...          ...          ...  ...         ...              ...      ...
56     81   volkswagen        sedan  ...          85               27   7975.0
57     82   volkswagen        sedan  ...          52               37   7995.0
58     86   volkswagen        sedan  ...         100               26   9995.0
59     87        volvo        sedan  ...         114               23  12940.0
60     88        volvo        wagon  ...         114               23  13415.0

[61 rows x 10 columns]



---


Exercise 3: Find the most expensive car company name

Print most expensive car’s company name and price.

![image.png]()

In [ ]:
df[df["price"] == df["price"].max()][["company", "price"]]

          company    price
35  mercedes-benz  45400.0



---

Exercise 4: Print All Toyota Cars details
![image.png]()

In [ ]:
df.loc[df["company"] == "toyota"]

    Unnamed: 0  index company  ... horsepower  average-mileage    price
48          48     66  toyota  ...         62               35   5348.0
49          49     67  toyota  ...         62               31   6338.0
50          50     68  toyota  ...         62               31   6488.0
51          51     69  toyota  ...         62               31   6918.0
52          52     70  toyota  ...         62               27   7898.0
53          53     71  toyota  ...         62               27   8778.0
54          54     79  toyota  ...        156               19  15750.0

[7 rows x 11 columns]



---

Exercise 5: Count total cars per company 

![image.png]()

In [ ]:
df.company.value_counts()

toyota           7
bmw              6
mazda            5
nissan           5
volkswagen       4
mercedes-benz    4
audi             4
mitsubishi       4
chevrolet        3
isuzu            3
honda            3
alfa-romero      3
porsche          3
jaguar           3
dodge            2
volvo            2
Name: company, dtype: int64

In [ ]:
######



---

Exercise 6: Find each company’s Higesht price car

![image.png]()

In [ ]:
df.groupby("company")[["company","price"]].max()

                     company    price
company
alfa-romero      alfa-romero  16500.0
audi                    audi  18920.0
bmw                      bmw  41315.0
chevrolet          chevrolet   6575.0
dodge                  dodge   6377.0
honda                  honda  12945.0
isuzu                  isuzu   6785.0
jaguar                jaguar  36000.0
mazda                  mazda  18344.0
mercedes-benz  mercedes-benz  45400.0
mitsubishi        mitsubishi   8189.0
nissan                nissan  13499.0
porsche              porsche  37028.0
toyota                toyota  15750.0
volkswagen        volkswagen   9995.0
volvo                  volvo  13415.0



---

Exercise 7: Find the average mileage of each car making company

![image.png]()

In [ ]:
df.groupby("company")[["average-mileage"]].mean()

               average-mileage
company
alfa-romero          20.333333
audi                 20.000000
bmw                  19.000000
chevrolet            41.000000
dodge                31.000000
honda                26.333333
isuzu                33.333333
jaguar               14.333333
mazda                28.000000
mercedes-benz        18.000000
mitsubishi           29.500000
nissan               31.400000
porsche              17.000000
toyota               28.714286
volkswagen           31.750000
volvo                23.000000



---

Exercise 8: Sort all cars by Price column

![image.png]()

In [ ]:
df.sort_values(by=["price"], ascending = False).head(5)  # by'ı yazmasak da ilk parametre olarak by'ı alacaktır.

    Unnamed: 0  index        company  ... horsepower  average-mileage    price
35          35     47  mercedes-benz  ...        184               14  45400.0
11          11     14            bmw  ...        182               16  41315.0
34          34     46  mercedes-benz  ...        184               14  40960.0
46          46     62        porsche  ...        207               17  37028.0
12          12     15            bmw  ...        182               15  36880.0

[5 rows x 11 columns]

In [ ]:
df.sort_values(["price"], ascending = False).head(5)

    Unnamed: 0  index        company  ... horsepower  average-mileage    price
35          35     47  mercedes-benz  ...        184               14  45400.0
11          11     14            bmw  ...        182               16  41315.0
34          34     46  mercedes-benz  ...        184               14  40960.0
46          46     62        porsche  ...        207               17  37028.0
12          12     15            bmw  ...        182               15  36880.0

[5 rows x 11 columns]



---

Exercise 9: Concatenate two data frames using the following conditions

Create two data frames using the following two dictionaries.

![image.png]()

In [ ]:
G = {"Company" : ["Ford", "Mercedes", "BMW", "Audi"], "Price" : [23845, 171995, 135925, 71400]}
J = {"Company" : ["Toyata", "Honda", "Nissan", "Mitsubishi"], "Price" : [ 29995, 23600, 61500, 58900]}
germany = pd.DataFrame.from_dict(G)
japan = pd.DataFrame.from_dict(J)
pd.concat([germany, japan], keys = ["Germany", "Japan"])

              Company   Price
Germany 0        Ford   23845
        1    Mercedes  171995
        2         BMW  135925
        3        Audi   71400
Japan   0      Toyata   29995
        1       Honda   23600
        2      Nissan   61500
        3  Mitsubishi   58900



---

Exercise 10: Merge two data frames using the following condition

Create two data frames using the following two Dicts, Merge two data frames, and append the second data frame as a new column to the first data frame.

Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}
car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]}

![image.png]()

In [ ]:
Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]} 
car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]}
price = pd.DataFrame(Car_Price)
horsepower = pd.DataFrame(car_Horsepower)
pd.merge(price, horsepower, on= "Company")

  Company   Price  horsepower
0  Toyota   23845         141
1   Honda   17995          80
2     BMV  135925         182
3    Audi   71400         160