In [ ]:
import seaborn as sns

In [ ]:
sns.get_dataset_names

In [ ]:
df = sns.load_dataset("mpg")

In [ ]:
df

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

In [ ]:
df.shape

(398, 9)

In [ ]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [ ]:
len(df.columns)

9

In [ ]:
df.shape[1]

9

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [ ]:
df.select_dtypes(include=object)

     origin                       name
0       usa  chevrolet chevelle malibu
1       usa          buick skylark 320
2       usa         plymouth satellite
3       usa              amc rebel sst
4       usa                ford torino
..      ...                        ...
393     usa            ford mustang gl
394  europe                  vw pickup
395     usa              dodge rampage
396     usa                ford ranger
397     usa                 chevy s-10

[398 rows x 2 columns]

In [ ]:
df.select_dtypes(exclude=object)

      mpg  cylinders  displacement  ...  weight  acceleration  model_year
0    18.0          8         307.0  ...    3504          12.0          70
1    15.0          8         350.0  ...    3693          11.5          70
2    18.0          8         318.0  ...    3436          11.0          70
3    16.0          8         304.0  ...    3433          12.0          70
4    17.0          8         302.0  ...    3449          10.5          70
..    ...        ...           ...  ...     ...           ...         ...
393  27.0          4         140.0  ...    2790          15.6          82
394  44.0          4          97.0  ...    2130          24.6          82
395  32.0          4         135.0  ...    2295          11.6          82
396  28.0          4         120.0  ...    2625          18.6          82
397  31.0          4         119.0  ...    2720          19.4          82

[398 rows x 7 columns]

In [ ]:
df.nunique(axis=0)

mpg             129
cylinders         5
displacement     82
horsepower       93
weight          351
acceleration     95
model_year       13
origin            3
name            305
dtype: int64

In [ ]:
df.plot.pie(y=[135, 120, 23])

KeyError: ignored

In [ ]:
df.describe()

              mpg   cylinders  ...  acceleration  model_year
count  398.000000  398.000000  ...    398.000000  398.000000
mean    23.514573    5.454774  ...     15.568090   76.010050
std      7.815984    1.701004  ...      2.757689    3.697627
min      9.000000    3.000000  ...      8.000000   70.000000
25%     17.500000    4.000000  ...     13.825000   73.000000
50%     23.000000    4.000000  ...     15.500000   76.000000
75%     29.000000    8.000000  ...     17.175000   79.000000
max     46.600000    8.000000  ...     24.800000   82.000000

[8 rows x 7 columns]

In [ ]:
import numpy as np

In [ ]:
np.random.seed(101)

In [ ]:
population = np.random.randint(0,100, size= 100000)
population

array([55, 64, 71, ..., 75, 85, 44])

In [ ]:
len(population)

100000

In [ ]:
np.random.seed(51)
sample = np.random.choice(population, 100)
sample

array([ 2, 31, 33, 27,  8, 40, 42, 41, 77, 51, 34, 49, 37, 32, 36, 48, 34,
       90, 38, 97, 18, 49, 45, 69, 14, 28, 69, 37, 32, 63,  2, 55, 44, 63,
       71, 63, 29, 70, 80, 36, 46, 61, 77, 73, 23, 16, 35, 26, 49, 70, 23,
       92, 21, 43, 23, 69, 18, 40, 60, 71, 46, 83, 83, 14, 42, 17, 66, 36,
        9, 37,  3, 32, 34, 71, 88, 34, 47, 97,  8,  3, 59, 63, 92, 17, 69,
       13, 68, 36, 90, 69, 60,  6, 50, 46, 66, 17, 18, 21, 68, 98])

In [ ]:
population.mean()

49.36348

In [ ]:
sample.mean()

45.96

In [ ]:
sample_means = []
for i in range(100):
  sample = np.random.choice(population, 100)
  sample_means.append(sample.mean())

sample_means

[52.43,
 45.51,
 54.76,
 51.01,
 48.88,
 50.41,
 52.54,
 54.98,
 56.15,
 54.42,
 47.53,
 47.51,
 51.15,
 52.27,
 48.02,
 48.17,
 47.78,
 46.49,
 49.7,
 48.92,
 53.55,
 50.61,
 55.42,
 49.71,
 48.58,
 50.56,
 48.29,
 52.49,
 52.04,
 45.75,
 45.61,
 50.85,
 51.92,
 51.11,
 51.71,
 52.16,
 50.57,
 49.55,
 48.31,
 47.15,
 48.36,
 51.29,
 50.46,
 51.37,
 47.86,
 46.6,
 44.94,
 46.11,
 50.61,
 48.94,
 49.17,
 49.27,
 45.66,
 48.16,
 45.09,
 48.57,
 45.87,
 47.81,
 48.53,
 47.47,
 51.68,
 50.41,
 53.67,
 52.41,
 48.56,
 50.87,
 49.79,
 43.06,
 45.59,
 48.19,
 45.43,
 52.72,
 52.65,
 46.03,
 53.67,
 49.27,
 50.0,
 52.78,
 48.43,
 48.58,
 48.96,
 49.84,
 51.13,
 51.24,
 50.89,
 49.39,
 51.05,
 46.98,
 46.62,
 45.93,
 49.57,
 50.75,
 50.58,
 53.41,
 59.26,
 47.69,
 51.44,
 50.95,
 48.75,
 51.15]

In [ ]:
np.mean(sample_means)

49.76079999999999

In [ ]:
import numpy as np

In [ ]:
nums = [1, 10, 7, 12, 0, 30, 15, 22, 8, 2]
np.std(nums)

9.089004345911603